@font-face {
  font-family: 'Avenir Next Regular';
  src: url('../vendor/fonts/avenir/avenir-next-regular.eot'), /* IE9 Compat Modes */
  url('../vendor/fonts/avenir/avenir-next-regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../vendor/fonts/avenir/avenir-next-regular.ttf')  format('truetype'); /* Safari, Android, iOS */

}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url('../vendor/fonts/avenir/avenir-next-bold.eot'), /* IE9 Compat Modes */
  url('../vendor/fonts/avenir/avenir-next-bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../vendor/fonts/avenir/avenir-next-bold.ttf')  format('truetype'); /* Safari, Android, iOS */

}

@font-face {
  font-family: 'Avenir Next Thin';
  src: url('../vendor/fonts/avenir/avenir-next-thin.eot'), /* IE9 Compat Modes */
  url('../vendor/fonts/avenir/avenir-next-thin.woff') format('woff'), /* Pretty Modern Browsers */
  url('../vendor/fonts/avenir/avenir-next-thin.ttf')  format('truetype'); /* Safari, Android, iOS */

}